<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <header>
    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "Welcome", root_path %></li>
          <li><%= link_to "Portfolio", portfolio_path %></li>
          <li><%= link_to "Blog" %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
        <a href="#">Vivek Rajkumar</a>
      </nav>
    </div>
  </header>

<%= yield %>
  
  <footer>
    <div class="container">
      <i class="fab fa-github" style="font-size: 24px"></i>
      <i class="fab fa-linkedin" style="font-size: 24px"></i>
      <i class="fab fa-twitter" style="font-size: 24px"></i>
      <p>&copy; 2018 Vivek Rajkumar</p>
    </div>
  </footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
